.contacts {
    position: fixed;
    top: 0;
    left: 6rem;
    height: 100%;
    width: 371px;
    background-color: var(--color-white);
    border-left: 1px solid var(--color-gray-100);
    display: flex;
    flex-direction: column;
}

.contacts-header {
    padding: 24px;
    padding-bottom: 0;
    flex-shrink: 0;
}

.contacts-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.contacts-title {
    color: #171C1B;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact-form-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.contact-list {
    overflow-y: auto;
    flex-grow: 1;
}