<div class="container">
    <div style="max-width: 400px" class="mx-auto">
        <h2>Register</h2>

        <form [formGroup]="registerForm" (ngSubmit)="Submit()">
            <div class="mb-3">
                <input type="email" placeholder="Email" class="form-control" formControlName="email" />
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Password" class="form-control" formControlName="password" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-info">Register</button>
            </div>

            <a routerLink="/auth">Login</a>
        </form>
    </div>
</div>
