<div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-3xl">Settings</h1>
    <a [href]="logoutLink" class="text-blue-800">Logout</a>
</div>

<div class="flex items-center gap-4 mb-4">
    <button
        class="block rounded-md text-center px-4 py-1 bg-blue-300 text-white"
        [ngClass]="{'bg-blue-500': tab === 'profile'}"
        (click)="changeTab('profile')">
        Profile
    </button>
    <button
        class="block rounded-md text-center px-4 py-1 bg-blue-300 text-white"
        [ngClass]="{'bg-blue-500': tab === 'password'}"
        (click)="changeTab('password')">
        Password
    </button>
    <button
        class="block rounded-md text-center px-4 py-1 bg-blue-300 text-white"
        [ngClass]="{'bg-blue-500': tab === 'oidc'}"
        (click)="changeTab('oidc')">
        OIDC
    </button>
    <button
        class="block rounded-md text-center px-4 py-1 bg-blue-300 text-white"
        [ngClass]="{'bg-blue-500': tab === 'totp'}"
        (click)="changeTab('totp')">
        TOTP
    </button>
</div>

<ui-form-messages [messages]="messages" />

@if (tab === "profile") {
    <app-tab-form [action]="actionUrl" [method]="method" [default_nodes]="nodes_default" [target_nodes]="nodes_profile" />
}

@if (tab === "password") {
    <p>Please enter new password:</p>
    <app-tab-form [action]="actionUrl" [method]="method" [default_nodes]="nodes_default" [target_nodes]="nodes_password" />
}

@if (tab === "oidc") {
    <app-tab-form [action]="actionUrl" [method]="method" [default_nodes]="nodes_default" [target_nodes]="nodes_oidc" />
    <div>
        Google/Facebook/Twitter etc connection information.
    </div>
}

@if (tab === "totp") {
    <app-tab-form [action]="actionUrl" [method]="method" [default_nodes]="nodes_default" [target_nodes]="nodes_totp" />
}
