<div class="conv-box">
    <div class="mb-4 lg:hidden">
        <button class="btn">Show contacts</button>
    </div>
    <div class="conv-contacts">
        <div class="p-4">
            <div class="flex justify-between items-center mb-4">
                <div class="text-xl text-slate-600">Contacts</div>
                <div class="text-slate-400">34</div>
            </div>
            <div>
                <form class="relative">
                    <ng-icon name="matSearchOutline" class="absolute top-1/2 left-3 text-2xl text-slate-600 -translate-y-1/2"></ng-icon>
                    <input type="text" placeholder="Search" class="border rounded h-11 block w-full py-2 pl-10 pr-4">
                </form>
            </div>
        </div>
        <div class="overflow-y-auto flex-grow">
            <app-contact-item
                *ngFor="let contact of contacts"
                [contact]="contact"
            ></app-contact-item>
        </div>
    </div>
    <div class="conv">
        <div class="p-4 border-b flex items-center justify-between">
            <div class="flex items-center gap-4">
                <figure class="w-10 h-10 rounded-md overflow-hidden">
                    <img src="/assets/images/default.jpg" alt="username" class="object-cover w-full h-full" />
                </figure>
                <div>
                    <div>John Doe</div>
                    <div>
                        <div class="flex items-center gap-2">
                            <div class="bg-sky-400 w-2 h-2 rounded-full"></div>
                            <div class="text-slate-500 text-xs">Online</div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="p-3 w-8 h-8 rounded-full hover:bg-sky-200 border flex items-center justify-center">
                <ng-icon name="matMoreVertOutline" class="text-xl"></ng-icon>
            </button>
        </div>
    </div>
</div>