<div class="w-20 fixed left-0 top-0 h-screen bg-white pt-24">

    <a routerLink="/" class="h-20 w-20 p-4 absolute top-0 left-0 flex items-center justify-center text-5xl text-orange-600">
        <img src="/assets/images/logo.svg" alt="ChattUp" class="w-full">
    </a>

    <div class="flex flex-col justify-between h-full pb-4">
        <div class="flex flex-col justify-center items-center gap-4">
            <a routerLink="/" class="nav-item" routerLinkActive="bg-sky-400 text-white hover:bg-sky-500" [routerLinkActiveOptions]="{exact: true}">
                <ng-icon name="matMessageOutline"></ng-icon>
            </a>
            <a routerLink="/settings" class="nav-item" routerLinkActive="bg-sky-400 text-white hover:bg-sky-500">
                <ng-icon name="matSettingsOutline"></ng-icon>
            </a>
        </div>
    
        <div class="flex flex-col justify-center items-center">
            <a routerLink="/" class="nav-item">
                <ng-icon name="matPowerSettingsNewOutline"></ng-icon>
            </a>
        </div>
    </div>
</div>
