<div class="flex justify-between border-b h-16 flex-shrink-0 py-5 px-7">
    <div>
        <button title="Toggle sidebar">
            <i class="fa fa-bars text-lg text-slate-600" aria-hidden="true"></i>
        </button>
    </div>
    <div class="flex items-center justify-between gap-3 text-lg text-slate-600">
        <button>
            <i class="fa-solid fa-lightbulb"></i>
            <!--<i class="fa-regular fa-lightbulb"></i>-->
        </button>
        <button><i class="fa-regular fa-bell"></i></button>
        <a [routerLink]="['/settings']"><i class="fa-regular fa-user"></i></a>
    </div>
</div>
