<div class="p-4 flex cursor-pointer hover:bg-slate-50 items-center border-b"
    [ngClass]="{'bg-slate-50 border-r-4 border-sky-400 border-b-0': contact.active}">
    <figure class="w-10 h-10 rounded-md overflow-hidden mr-4">
        <img src="/assets/images/default.jpg" alt="username" class="object-cover w-full h-full" />
    </figure>
    <div style="width: calc(100% - 3.5rem)">
        <div class="flex items-center justify-between">
            <div class="text-slate-600">{{ contact.name }}</div>
            <div class="flex items-center justify-between gap-4">
                <span *ngIf="contact.new" class="new-label">New</span>
                <span *ngIf="contact.unread_counter" class="message-counter">
                    {{ contact.unread_counter }}
                </span>
            </div>
        </div>
        <div class="text-ellipsis overflow-hidden w-full whitespace-nowrap text-sm text-slate-400">
            Lorem, ipsum dolor sit amet.
        </div>
    </div>
</div>